.next
.next/cache
.vercel
node_modules
out
coverage
dist
.turbo
.cache
.eslintcache
*.tsbuildinfo
tsconfig.tsbuildinfo
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
.DS_Store
Thumbs.db
desktop.ini
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.idea/
.vscode/
*.swp
*.swo
